---
layout: landing
meta_title: Eleven Countries
meta_description: Eleven Countries is a powerful skeleton boilerplate built with Eleventy and TailwindCSS
body_class: landing
title: "Eleven Countries!"
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <a class="inline-block rounded md:ml-2 py-3 px-6 text-white font-bold bg-pink-500 hover:bg-white hover:text-pink-500" href="https://github.com/josephdyer/skeleventy" target="_blank" rel="noopener">Download</a>

        </div>

    </section>

</main>