---
layout: blog
meta_title: Blog
meta_description: Blog page description
body_class: blog
title: The Eleven Countries Blog
permalink: "/{{ locale }}/{{ page.fileSlug | unLocaleSlug }}/index.html"
localeKey: "blog"
locale: "it"
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title text-3xl md:text-center md:text-5xl mb-16 lg:mb-24 lg:text-6xl">{{ title }}</h1>

        <div class="posts lg:flex flex-1">

            {% include "components/posts.njk" %}

        </div>

    </section>

</main>