---
layout: default
meta_title: Home
meta_description: Eleven Countries is a powerful skeleton boilerplate built with Eleventy and TailwindCSS
body_class: home
title: 11カ国へようこそ!
permalink: "/{{ locale }}/index.html"
localeKey: "homepage"
locale: "ja"
---

<main id="main" class="main inner flex flex-1 flex-col py-10 lg:py-20 focus:outline-none" tabindex="-1">

    <section id="container-centre" class="column centre flex-1">

        <h1 class="page-title">{{ title }}</h1>

        <div class="content">

            <p>で構築されたスケルトンボイラープレート <a href="https://www.11ty.dev/docs/">Eleventy</a> と <a href="https://tailwindcss.com">TailwindCSS</a>.</p>

            <h2 class="text-3xl">の特長</h2>

            <ul class="mb-12 list-disc pl-4">
                <li>多言語コンテンツ</li>
                <li>Eleventy, TailwindCSS と SCSS の力でサイトをより速く構築</li>
                <li>
                    <a href="https://laravel-mix.com/docs/5.0/basic-example">Laravel Mix</a> (webpack): スタイルとスクリプトを連結してコンパイルする</li>
                <li>
                    <a href="https://www.purgecss.com/">Purgecss</a>: 未使用のものを削除する CSS</li>
                <li>HTML 最小化</li>
                <li>ES6 Babelのサポート</li>
                <li>SEO わかりやすいページ (Open GraphおよびTwitterメタを含む)</li>
                <li>遅延読み込みイメージ</li>
                <li>カテゴリと注目の画像を含むシンプルなブログ</li>
            </ul>

        </div>

    </section>

</main>